## 切割test資料
* for_CNN_data(73081)資料切為train, valid, test
* 新增兩類: 3C產品（label 6, 2624筆），無人駕駛(label 11, 2003筆)
* 3C產品:  test_3C,res_3C(300)
* 無人駕駛: test_self_drive_car, res_self_drive_car(301)
* 其它12類: test_others, res_others

In [1]:
import os 
import pandas as pd

from sklearn.model_selection import train_test_split

In [2]:
os.getcwd()

'/project/jt071-group23/jt071078'

#### load data

In [3]:
df = pd.read_csv('data/for_CNN_data(73081).csv')

In [5]:
print(df.shape)
df.head()

(73081, 5)

,content,label,sentences,sentences_1000,sentences_1000_str
0,"""ETF關鍵報告""台北開課公告(2018七月15日課程)綠角將在2018七月15日在台北開立...",10,"['ETF', '關鍵', '報告', '台北', '開課', '公告', '七月', '日...","['ETF', '關鍵', '報告', '台北', '開課', '公告', '七月', '日...",ETF 關鍵 報告 台北 開課 公告 七月 日 課程 綠角將 七月 日 台北 開立 ETF ...
1,"""ETF關鍵報告""台北開課公告(2018九月課程)此次同時公告九月預計在台北舉辦的兩個梯次""...",10,"['ETF', '關鍵', '報告', '台北', '開課', '公告', '九月', '課...","['ETF', '關鍵', '報告', '台北', '開課', '公告', '九月', '課...",ETF 關鍵 報告 台北 開課 公告 九月 課程 此次 公告 九月 預計 台北 舉辦 兩個 ...
2,"""ETF關鍵報告""台北開課公告(2018八月12日課程)綠角將在2018八月12日在台北開立...",10,"['ETF', '關鍵', '報告', '台北', '開課', '公告', '八月', '日...","['ETF', '關鍵', '報告', '台北', '開課', '公告', '八月', '日...",ETF 關鍵 報告 台北 開課 公告 八月 日 課程 綠角將 八月 日 台北 開立 ETF ...
3,#1訪客於2018/05/1114:24總覺得這股應該沒這麼慘5/11公佈季營收反而下殺.....,10,"['訪客', '總覺', '這股', '應該', '慘', '公佈', '季營收', '下'...","['訪客', '總覺', '這股', '應該', '慘', '公佈', '季營收', '下'...",訪客 總覺 這股 應該 慘 公佈 季營收 下 殺 明明 新聞 已經 說 月 營收 持平 市場...
4,&lt;圖片擷取自:MONEYCONNEXION&gt;雙親「理財」身教，凡遇錢事毫不馬虎！...,10,"['lt', '圖片', '擷取', 'MONEYCONNEXION', 'gt', '雙親...","['lt', '圖片', '擷取', 'MONEYCONNEXION', 'gt', '雙親...",lt 圖片 擷取 MONEYCONNEXION gt 雙親 「 理財 身教 凡遇 錢 事 馬...

#### 新增類別1＿3C產品test資料切割

In [6]:
df_3C = df[df['label']==6].copy()
print(df_3C.shape)
df_3C.head()

(1644, 5)

,content,label,sentences,sentences_1000,sentences_1000_str
40659,近年來行動電源爆炸事件層出不窮，造成不少意外傷害產生，也炸得人心惶惶，深怕自己成為下一位「行...,6,"['行動', '電源', '爆炸事件', '層出不窮', '造成', '意外', '傷害',...","['行動', '電源', '爆炸事件', '層出不窮', '造成', '意外', '傷害',...",行動 電源 爆炸事件 層出不窮 造成 意外 傷害 產生 炸 人心惶惶 深怕 成為 下 一位 ...
40660,來源：電腦王阿達作者：電腦王阿達任天堂於稍早之前，在官方網站上正式公布開發代號為「NX」的新...,6,"['來源', '電腦', '王阿達', '作者', '電腦', '王阿達', '任天堂', ...","['來源', '電腦', '王阿達', '作者', '電腦', '王阿達', '任天堂', ...",來源 電腦 王阿達 作者 電腦 王阿達 任天堂 稍早 之前 官方網站 正式 公布 開發 代號...
40661,這幾年拜電競賽事與遊戲直播風潮之賜，「電競產業」可說大獨走，電競遊戲人口逐年增加，各家廠商無...,6,"['幾年', '拜電', '競賽', '事', '遊戲', '直播', '風潮', '之賜'...","['幾年', '拜電', '競賽', '事', '遊戲', '直播', '風潮', '之賜'...",幾年 拜電 競賽 事 遊戲 直播 風潮 之賜 「 電競 產業 可說 獨走 電競 遊戲 人口 ...
40662,台灣小米官方日前在粉專預告，確認將在1/25舉辦線上發表會，推出去年12月在中國發表的兩款平...,6,"['台灣', '小米', '官方', '日前', '粉專', '預告', '確認', '將在...","['台灣', '小米', '官方', '日前', '粉專', '預告', '確認', '將在...",台灣 小米 官方 日前 粉專 預告 確認 將在 舉辦 線上 發表 推出 去年 月 中國 發表...
40663,彭博社最新報導指出，蘋果將在9月新品發表會發表最新一代iPhone手機，此外，還將同時推出第...,6,"['彭博社', '最新報導', '指出', '蘋果', '將在', '月', '新品', '...","['彭博社', '最新報導', '指出', '蘋果', '將在', '月', '新品', '...",彭博社 最新報導 指出 蘋果 將在 月 新品 發表 發表 最新 一代 iPhone 手機 還...

In [65]:
# 確認label
set(df_3C['label'].values)

{6}

In [16]:
res_3C, test_3C = train_test_split(df_3C, test_size=0.817)
print('test_3C',test_3C.shape)
print('res_3C', res_3C.shape)

test_3C (1344, 5)
res_3C (300, 5)

In [17]:
test_3C.to_csv('data_split/test_3C(1344).csv', index=False) 
res_3C.to_csv('data_split/res_3C(300).csv', index=False)

#### 新增類別2＿無人駕駛test資料切割

In [20]:
df_self_drive_car= df[df['label']==11].copy()
print(df_self_drive_car.shape)
df_self_drive_car.head()

(1388, 5)

,content,label,sentences,sentences_1000,sentences_1000_str
65255,儘管早從建國時就開始在戰場運用駱駝，不過以色列軍方已經準備讓動物們退役，改用無人載具。由於地...,11,"['早', '建國', '時', '戰場', '運用', '駱駝', '以色列', '軍方'...","['早', '建國', '時', '戰場', '運用', '駱駝', '以色列', '軍方'...",早 建國 時 戰場 運用 駱駝 以色列 軍方 已經 準備 動物 退役 改用 無人 載具 地形...
65256,如果要說運動相機和無人機的結合體，你會想到什麼？這個組合最常見的方案，就是在無人機加入一個支...,11,"['要說', '運動', '相機', '無人機', '結合體', '想到', '組合', '...","['要說', '運動', '相機', '無人機', '結合體', '想到', '組合', '...",要說 運動 相機 無人機 結合體 想到 組合 最 常見 方案 無人機 加入 一個 支援 運動...
65257,大疆創新（DJI）將在美國時間1月23日於紐約舉行產品發表會，不過前一天國外網站先揭露一系列...,11,"['大疆', '創新', 'DJI', '將在', '美國', '時間', '月', '日'...","['大疆', '創新', 'DJI', '將在', '美國', '時間', '月', '日'...",大疆 創新 DJI 將在 美國 時間 月 日 紐約 舉行 產品 發表 前一天 國外 網站 先...
65258,大疆創新（DJI）旗下無人機產品線再添生力軍，23日於紐約發表傳聞的新機MavicAir，融...,11,"['大疆', '創新', 'DJI', '旗下', '無人機', '產品線', '再添', ...","['大疆', '創新', 'DJI', '旗下', '無人機', '產品線', '再添', ...",大疆 創新 DJI 旗下 無人機 產品線 再添 生力軍 日 紐約 發表 新機 MavicAi...
65259,大疆創新（DJI）1月31日正式在台灣發表新款無人機MavicAir，配備4K三軸雲台相機，...,11,"['大疆', '創新', 'DJI', '月', '日', '正式', '台灣', '發表'...","['大疆', '創新', 'DJI', '月', '日', '正式', '台灣', '發表'...",大疆 創新 DJI 月 日 正式 台灣 發表 新款 無人機 MavicAir 配備 三軸雲台...

In [64]:
# 確認label
set(df_self_drive_car['label'].values)

{11}

In [41]:
res_self_drive_car, test_self_drive_car = train_test_split(df_self_drive_car, test_size=0.783)
print('test_self_drive_car',test_self_drive_car.shape)
print('res_self_drive_car', res_self_drive_car.shape)

test_self_drive_car (1087, 5)
res_self_drive_car (301, 5)

In [42]:
test_self_drive_car.to_csv('data_split/test_self_drive_car(1087).csv', index=False) 
res_self_drive_car.to_csv('data_split/res_self_drive_car(301).csv', index=False)

#### 12類新聞test資料切割

In [49]:
mask1 = df['label']!=6
mask2 = df['label']!=11
df_others = df[(mask1 & mask2)].copy()
print(df_others.shape)
df_others.head()

(70049, 5)

,content,label,sentences,sentences_1000,sentences_1000_str
0,"""ETF關鍵報告""台北開課公告(2018七月15日課程)綠角將在2018七月15日在台北開立...",10,"['ETF', '關鍵', '報告', '台北', '開課', '公告', '七月', '日...","['ETF', '關鍵', '報告', '台北', '開課', '公告', '七月', '日...",ETF 關鍵 報告 台北 開課 公告 七月 日 課程 綠角將 七月 日 台北 開立 ETF ...
1,"""ETF關鍵報告""台北開課公告(2018九月課程)此次同時公告九月預計在台北舉辦的兩個梯次""...",10,"['ETF', '關鍵', '報告', '台北', '開課', '公告', '九月', '課...","['ETF', '關鍵', '報告', '台北', '開課', '公告', '九月', '課...",ETF 關鍵 報告 台北 開課 公告 九月 課程 此次 公告 九月 預計 台北 舉辦 兩個 ...
2,"""ETF關鍵報告""台北開課公告(2018八月12日課程)綠角將在2018八月12日在台北開立...",10,"['ETF', '關鍵', '報告', '台北', '開課', '公告', '八月', '日...","['ETF', '關鍵', '報告', '台北', '開課', '公告', '八月', '日...",ETF 關鍵 報告 台北 開課 公告 八月 日 課程 綠角將 八月 日 台北 開立 ETF ...
3,#1訪客於2018/05/1114:24總覺得這股應該沒這麼慘5/11公佈季營收反而下殺.....,10,"['訪客', '總覺', '這股', '應該', '慘', '公佈', '季營收', '下'...","['訪客', '總覺', '這股', '應該', '慘', '公佈', '季營收', '下'...",訪客 總覺 這股 應該 慘 公佈 季營收 下 殺 明明 新聞 已經 說 月 營收 持平 市場...
4,&lt;圖片擷取自:MONEYCONNEXION&gt;雙親「理財」身教，凡遇錢事毫不馬虎！...,10,"['lt', '圖片', '擷取', 'MONEYCONNEXION', 'gt', '雙親...","['lt', '圖片', '擷取', 'MONEYCONNEXION', 'gt', '雙親...",lt 圖片 擷取 MONEYCONNEXION gt 雙親 「 理財 身教 凡遇 錢 事 馬...

In [61]:
# 確認label 6與11是否被移除
print(6 in set(df_others['label'].values))
print(11 in set(df_others['label'].values))

False
False

In [57]:
res_others, test_others = train_test_split(df_others, test_size=0.1)
print('test_others',test_others.shape)
print('res_others',res_others.shape)

test_others (7005, 5)
res_others (63044, 5)

In [58]:
test_others.to_csv('data_split/test_others(7005).csv', index=False)
res_others.to_csv('data_split/res_others(63044).csv', index=False)